.CourtDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

#court-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    min-height: 4.5rem;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
}

.court-container {
    position: relative;
    margin: 0 auto;
    padding: 1rem;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.court-background {
    height: inherit;
    width: inherit;
    display: inline-block;
    background-color: rgb(80, 85, 91);
}

.court-image {
    height: auto;
    width: 100%;
}

.classic-shot {
    position: absolute;
}

.make {
    color: rgb(22, 199, 22);
}

.miss {
    color: red;
}

.grid-zone,
.grid-zone-label-container,
.grid-zone-object-wrapper {
    position: absolute;
    font-size: 0.9rem;
    font-weight: 600;
}

.grid-zone-object-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grid-zone-label-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2.2rem;
    z-index: 5;
}