.SearchComponent {
    margin: 0 auto;
    max-width: 1200px;

}

#search-menu-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.grid-item-container {
    background-color: #19003a;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
}