@font-face{
  font-family: 'MonserratLight';
  src: url('./fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'MontserratSemiBold';
    src: url('./fonts/Montserrat-SemiBold.ttf') format('truetype');
}

.App {
  display: grid;
  grid-auto-columns: auto ;
  text-align: center;
  min-height: 100vh;
  height: fit-content;
  min-width: 1000px;
  background-image: linear-gradient(to bottom right,#312b3f  0% ,#000000 90%);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  align-content: flex-start;
  color: white;
  font-feature-settings: normal;
  font-family: 'MonserratLight';
  font-variant: normal;
  overflow-x: hidden;
}

.BaseGrid {
  display: grid;
  grid-template-columns: 30% 45% 20%;
  height: fit-content;
  min-height: 100%;
}

.basegrid-grid-item {
  align-items: center;
  align-content: flex-start;
  height: auto;
  margin: 10px;
  width: 100%;
}

p:hover{
  cursor: default;
}

div:hover{
  cursor: default;
}

.show{display: block;}