@font-face{
    font-family: 'JosefinSansLight';
    src: url('./fonts/JosefinSans-Light.ttf') format('truetype');
}
@font-face{
    font-family: 'MonserratLight';
    src: url('./fonts/Montserrat-Light.ttf') format('truetype');
}
.Header {
    display: inline-grid;
    grid-template-columns: 70% 30% ;
    font-family: 'MonserratLight';
    color: white;
    min-height: 50%;
    background-color: rgb(31, 30, 30);
    padding-top: 25px;
}

#versionText{
    font-size: 20px;
}

.header-grid-item {
    height:80% ;
    font-size: 30px ;
  }

 #title {
    text-align: left;
    font-size: 40px;
    padding-left: 20px;
  }

  #date-accuracy{
      text-align: right;
      margin-right: 30px;
      margin-left: 10px;
  }

  #accuracy-title {
    text-align: center;
    font-size: 15px;
    padding-bottom: 1%;
  }
  #accuracy-date {
    text-align: center;
    font-size: 25px;
  }