.SearchTypeButtons{
    display: inline-block;
    height:100%;
}

.link{
    text-decoration: none;
    font-size: 18px;
    margin-left: 25px;
    max-height:100%;
    display: inline-block;
    padding-bottom:5%;
}

.link:hover{
    cursor:pointer;
}