.SearchTypeButtons{
    display: inline-block;
    height:100%;
}

.link{
    display: inline-block;
    text-decoration: none;
    font-size: 22px;
    margin-left: 50px;
    max-height:100%;
    padding-bottom:5%;
}

.link:hover{
    cursor:pointer;
}