.SelectionViewer{
    scroll-behavior: smooth;
    width:100%;
    display: inline-block;
    overflow-y:scroll;
    border-style: solid;
    border-top: 10px;
    border-bottom: 10px;
    border-image: linear-gradient(to right, rgba(255,255,255,0)  10%, rgba(255,255,255,0.5)  50% ,  rgba(255,255,255,0) 90%) 100% 0 100% 0/2px 0 2px 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.selection-div{
    height: 15px;
    text-align: left;
    padding: 10px;
    width: fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 10px;
    background-color: rgba(184, 182, 186, 0.3    );
}

.selection-span{
    font-size: 15px;
    padding-left: 10px;
    margin: 0px;
}

.delete-button{
    background-color: rgb(77, 77, 78);
    border-radius: 5px;
}

.delete-button:hover{
    background-color: red;
    cursor:pointer;
}
