.SelectionViewer{
    scroll-behavior: smooth;
    width:100%;
    display: inline-block;
    overflow-y:scroll;
    border-style: solid;
    border-top: 10px;
    border-bottom: 10px;
    border-image: linear-gradient(to right, rgba(255,255,255,0)  10%, rgba(255,255,255,0.5)  50% ,  rgba(255,255,255,0) 90%) 100% 0 100% 0/2px 0 2px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    min-height: 91px;
}

.selection-placeholder{
    padding: 10px;
    margin: 10px;
}

.selection-div{
    height: auto;
    text-align: left;
    width: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 30px;
    background-color: rgb(88, 88, 88);
}

.selection-span{
    width: auto;
    font-size: 15px;
    padding-left: 10px;
    margin: 0px;
    overflow-wrap: break-word;
    height: 100%;
    padding: 10px;
    padding-right: 15px;
}

.delete-button{
    background-color: rgb(63, 63, 63);
    border-radius: 5px;
    margin-left: 15px;
}

.delete-button:hover{
    background-color: rgb(246, 76, 76);
    cursor:pointer;
}

.delete-button:active{
    background-color: rgb(61, 61, 61);
    cursor:pointer;
}

.selection-placeholder{
    color: rgba(255,255,255,0.8);
}
