.ShotPercentageView{
    display: inline-block;
    overflow-wrap: break-word;
    max-width: 100%;
    width: 95%;
    background-image: linear-gradient(to bottom,#1c1220  10% ,#000000 90%);
    margin: 10px;
    padding-bottom: 20px;
    padding-top: 10px;
    border-radius: 15px;
}

.perc-div{
    display: inline-block;
    margin: 10px;
    min-width: 90px;
}

.perc-div p{
    margin-bottom: 5px;
}

.percentage-title{
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}

.percentage-content{
    margin-top: 5px;
}

.ShotPercentageView .ant-progress-circle .ant-progress-text {
    color: white;
    font-feature-settings: normal;
    font-family: 'MonserratLight';
    font-variant: normal;
}
.ShotPercentageView .ant-progress-circle.ant-progress-status-success .ant-progress-text {
    color: white;
    font-feature-settings: normal;
    font-family: 'MonserratLight';
    font-variant: normal;
}
