@font-face{
    font-family: 'MontserratSemiBold';
    src: url('./fonts/Montserrat-SemiBold.ttf') format('truetype');
}

.ShotPercentageView{
    font-family: "MonserratLight";
    display: inline-block;
    color: white;
    overflow-wrap: break-word;
    max-width: 100%;
    margin-top: 30px;
    background-color: rgb(65, 64, 64);
    border-radius: 20px;}

.perc-div{
    display: inline-block;
    margin-right: 1vw;
    margin-left: 1vw;
    margin: 20px;
    padding:5px;
}

.percentage-title{
border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
