@font-face{
    font-family: 'MontserratSemiBold';
    src: url('./fonts/Montserrat-SemiBold.ttf') format('truetype');
}

.ShotPercentageView{
    font-family: "MontserratSemiBold";
    display: inline-block;
    color: white;
    overflow-wrap: break-word;
    max-width: 100%;
}

.perc-div{
    display: inline-block;
    margin-right: 2vw;
    margin-left: 2vw;
}
