@font-face{
    font-family: 'MonserratLight';
    src: url('./fonts/Montserrat-Light.ttf') format('truetype');
}
@font-face{
    font-family: 'MontserratSemibold';
    src: url('./fonts/Montserrat-SemiBold.ttf') format('truetype');
}

.court-image{
    transform: rotate(180deg);
    object-fit: cover;
    max-width :60%;
    height: 100%;
    display: none;
}.show {display: block;}


.ShotView{
    color: white;
    font-family: 'MonserratLight';
    height:100%;
    width:100%;
    overflow: auto;
    scroll-behavior: smooth;
    overflow-y:scroll;
}

button{
    font-family: 'MonserratLight';
    background-color: lightgray;
}

#imageview-div{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.imageview-child{
    position:absolute;
    align-items: center;
}
#zones-underneath{
    z-index: 0;
}

.rectangle {
    fill:white;
    background-color: lightgreen;
    height:30.0px;
    stroke:black;
    stroke-width: 0.0 ;
    width:30.0px ;
}

.labelFrac {
    font-family: 'MontserratSemibold';
}
.labelPerc {
    font-family: 'MontserratSemibold';
}
#transparent-court-on-top{
    position: relative;
    transform: rotate(180deg);
    object-fit: cover;
    max-width :60%;
    height: 100%;
    z-index: 1;
}

#view-title{
    padding: 10px 0px 10px 0px;
    font-size: 2vh;
    text-align: center;
    height: 2.5vh ;
}

#gray-background{
    height: 100%;
    width: 100%;
    position: absolute;
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }