@font-face{
    font-family: 'MonserratLight';
    src: url('./fonts/Montserrat-Light.ttf') format('truetype');
}
.SimpleSearchBox{
    text-align: center;
    font-family: 'MonserratLight';
    color: white;
    height: 60%;
    width: 100%;
}
 .search-box-body{
    min-height: 100%;
    max-height: 95vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-box-inner-body {
    text-align: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
}

.search-box-body button{
    text-align: center;
    font-family: 'MonserratLight';
    background-color: lightgray;
    position: relative;
    width: 70%;
    background-color: white;
    margin: 4px;
}

.search-box-body .dropdown-button{
    position: relative;
    max-width: 65%;
    background-color: rgb(219, 219, 219);
}

.dropdown-button:hover {
    background-color: white;
}

#run-simple-search-button{
    background-color: rgb(219, 219, 219);
    font-size: 20px;
width: auto;
}
#run-simple-search-button:hover{
    background-color: white;
}

.dropdown-content{
    display: none;
    background-color: #f1f1f1;
    color: black;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    position: absolute;
    left:0;
    width:100%;
}

.show {display: block;}

.dropdown-content.scrollable {
    height: 20vh;
    overflow-y:scroll;
}


 .dropdown-item{
    padding: 0.5vh;
    margin:0px;
}

.dropdown-item:hover{
    background-color: #ddd;
}

.scrollable::-webkit-scrollbar-track:vertical {
    color: transparent;
}

.scrollable::-webkit-scrollbar-track:horizontal {
    color: transparent;
}

.scrollable::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: transparent;
    width: 16px;
}

 .scrollable::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: #C1C1C1;
    border-color: transparent;
    border-radius: 9px 8px 8px 9px;
    border-style: solid;
    border-width: 3px 3px 3px 4px; /* Workaround because margins aren't supported */
}

.arrow {
    text-align: left;
    display: inline-block;
    width:10%;
    margin: 4px;
    position: absolute;
}
.dropdown-button-display{
    display: inline-block;
    margin: 4px;
    margin-right: 0;
    max-width:85%;
    min-width: 85%;
    font-size: 20px;
    overflow-wrap: break-word;
    position: relative;
}
.choose-parameters-label{
    font-family:'MonserratLight' ;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }